*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: "Poppins",sans-serif;
}

nav{
    position: absolute;
    display: flex;

}



.container{
    height:100vh;
    background: black;
}



.container img{
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.main-title{
    position:absolute;
    top: 50%;
    left: 50%;
}

.content{
    width:100%;
    background: rgb(24, 24, 24);
    min-height: 100vh;
    z-index :2;
    position: absolute;
    top:80%;
    text-align: center;
}

.social-menu ul {
    position: absolute;
    top: 20%;
    left:50%;
    padding: 0;
    margin:0;
    transform: translate(-50%,-50%);
    display:flex;
}

.social-menu ul li{
    list-style: none;
    margin:0 15px;
}

.social-menu ul li .fa{
    font: size 30px;
    line-height:60px;
    transition: .6s;
    color: #000
}

.social-menu ul li a {
    position:relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: .6s;
    box-shadow: 0 5 4px rgba(0,0,0,.5);
}


.social-menu ul li div {
    padding: 5px;
}

.social-menu ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.social-menu ul li:nth-child(1) a:hover {
    background-color: #888888;
}

.carousel {
    width: 100vw;
    height: 100vh;
    background:  rgb(24, 24, 24);;
    position: relative;
    overflow: hidden;
    display: flex;
    
}
.carousel .track {
    position: absolute;
    top: 150px;
    left: 20px;
    display: inline-flex;
    touch-action: none;
}
  
.carousel .card {
    width: 300px;
    height: 380px;
    background: #fff;
    border-radius: 3px;
    margin-right: 20px;
    flex: 1;
    /*border: 2px solid yellow;*/
}




/*.float-child {
    width: 50%;
    float: left;
    padding: 20px;
    border: 2px solid red;
}  */